<a href="https://colab.research.google.com/github/parkgyumi/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
s = 'abcdef'
print(s[2], s[5], s[-1], s[-4])
print(s[2:5], s[2:], s[:5], s[:])

c f f c
cde cdef abcde abcdef

문자열의 각 character를 인덱스하는 방법.

문자열의 인덱스는 0부터 시작한다. -1을 가장 끝 문자를 가리킨다.

x:y를 활용하면 문자열의 범위를 지정하여 나타낼 수 있다.(x부터 y전까지) :만 사용하는 경우 전체 문자열을 지정한다.

In [6]:
n = [123, 456, 789]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

123 789 789 123
[456] [456, 789] [123, 456] [123, 456, 789]

리스트의 인덱싱도 문자열의 인덱싱 방법과 동일하다.

In [ ]:
len(s)

6

len은 문자열의 길이를 출력해주는 함수이다.

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

인덱스로 잘라낸 문자열을 +과 *를 활용하여 조합할 수 있다.

In [ ]:
s.upper()

'ABCDEF'

upper은 문자열 전체를 대문자로 바꾸어 출력해준다.(이때 원래의 문자열은 바뀌지 않는다.)

In [12]:
s = ' this is a house built this year.\n'
s

' this is a house built this year.\n'

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

find는 문자열에서 입력한 문자열을 검색하여 해당 문자열이 시작되는 인덱스를 출력한다.

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

strip은 문자열 앞뒤의 공백을 제거한다.

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

split은 지정한 문자를 기준으로 문자열을 분할하여 리스트로 만든다.

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

join은 리스트의 원소들을 하나의 문자열로 연결한다.

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'

replace는 문자열에서 첫번째 입력값을 검색하여 두번째 입력값으로 변환한다.